*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform
.idea/
variables.json
*.swp
variables.json
*.retry
*.pyc
jdauphant.nginx
.vagrant/
*.log
*.pyc
.molecule
.cache
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
share
*.log
